#Dashboard {
    padding: 20px;
}
/* Dashboard Menu */
.dashboardMenu {
    margin: 60px 0 20px 0;
    display: flex;
    justify-content: center;
}
/* User Button */
.btnProfile {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 9px -3px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 74px;
}
.btnProfile img {
    width: 45px;
    height: 35px;
}
/* Nav Dashboard */
.navDashboard{
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
    width: 1487px;
    height: 74px;
    border-radius: 20px;
    box-shadow: 0px 0px 9px -3px #00000040;
}
.navDashboard h1 {
    font-size: 24px;
    margin-left: 20px;
}
.navDashboard button {
    cursor: pointer;
    width: 106px;
    height: 30px;
    margin-right: 80px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #FF7426;
    border-color: transparent;
    box-shadow: 0px 0px 5px 0px #00000040;
}

/* TODO: Estilizar Dashboard Menu  */
.logUser {
    font-size: 14px;
}
.logUser span {
    color: #FF7426;
}
.dashboardButtons {
    display: flex;
    justify-content: space-around;
}

.dashboardButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.dashboardButton img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.dashboardButton span {
    font-weight: bold;
}

.dashboardButton:hover {
    transform: translateY(-5px);
}