#Dashboard {
    padding: 20px;
}
/* Dashboard Menu */
.dashboardMenu {
    display: flex;
}
/* TODO: Estilizar Dashboard Menu  */

.dashboardButtons {
    display: flex;
    justify-content: space-around;
}

.dashboardButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.dashboardButton img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.dashboardButton span {
    font-weight: bold;
}

.dashboardButton:hover {
    transform: translateY(-5px);
}