* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    width: 100%;
    height: 300vh;
    border: none;
    background-color: rgba(78, 78, 78, 0.7);
    position: relative;
    background-image: url(../images/background-halter.jfif);
    background-repeat: no-repeat; 
    background-position: 0 -600px;
    background-size: cover;
    align-items: center;
    flex-direction: column;
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.7);
    z-index: 1; 
}

.container > * {
    position: relative;
    z-index: 2; 
}
/* NAVBAR */
.navBar {
    position: fixed;
    margin: 50px 0;
    padding: 0 30px;
    display: flex;
    width: 85%;
    height: 74px;
    border-radius: 20px;
    background-color: #b6b2b2;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logoHalter {
    height: 40px;
    width: 80px;
}
.anchorsHome {
    display: flex;
    gap: 50px;
    list-style-type: none;
}
.anchorsHome a {
    text-decoration: none;
    color: black;
}
.loginBtn{
    cursor: pointer;
    width: 84px;
    height: 30px;
    background-color: #FF7426;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    border-radius: 6px;
    border-color: transparent;
}
/* Text Introduction */
.textIntro {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    width: 85%;
}

.textIntro p {
    margin: 0;
    font-size: 64px;
    color: white;
    font-weight: 700;
    line-height: 78px;
}
.textIntro span {
    color: #FF7426;
}
.anchorContacts button {
    cursor: pointer;
    width: 182px;
    height: 65px;
    margin-top: 10px;
    border-radius: 8px;
    border-color: transparent;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    background-color: #FF7426;
}

/* Plane Section */
.imageSectionPlan {
    margin-top: 15rem;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageSectionContact {
    margin-top: 20rem;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageSectionContact img , .imageSectionPlan img{
    width: 100%;
}
